body {
    padding-top: 100px;
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    background-color: hsl(0, 0%, 95%);
    margin: 0;
}

header {
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier', monospace;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other content */
    background-color: hsl(0, 0%, 95%);
}


header #logo{
    margin: 0;
    margin-left: 20px;
    width: 15em;
}

header #menu{
    margin: 0;
    width: 1.5em;
}

header button{
    margin-left: auto;
    background-color: #ffffff;
    color: white;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    -webkit-tap-highlight-color: transparent;
}

.dayContainer h3 {
    font-family: 'Courier', monospace;
    margin: 0;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 1.5em;
    font-weight: normal;
}

.eventContainer {
    display: flex;
    margin-top: 12px;
    margin-left: 7px;
    margin-right: 7px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: hsl(0, 0%, 100%);
    overflow: hidden;
    transition: height 0.4s ease; /* Use height property for smooth transition */
    cursor: pointer;
    /*height: 70px; /* Set initial height */
    -webkit-tap-highlight-color: transparent;
}




.infoTextContainer {
    padding: 8px;
}

.infoTextContainer a {
    text-decoration: none;
    color: black;
}

.eventContainer h5 {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 0.8em;
}


.eventContainer.expanded {
    height: 150px; /* Set to auto for dynamic height based on content */
}


.eventContainer p {
    font-size: 0.75em;
    margin: 0px 0px;
    margin-top: 3px;
}

.iconContainer {
    padding: 20px;
    border-radius: 10px;
    width: 15px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#iconBox0 {
    background-color: hsl(97, 90%, 35%);
}

.iconContainer {
    background-color: hsla(219, 100%, 70%);
}

#iconBox2 {
    background-color: hsl(0, 100%, 70%);
}


/* Style for the popup */
.popUp {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 85%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    overflow: auto; /* Add scrollbars if content overflows */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
}

.popUp h4 {
    margin: 0px;
    text-align: center;
    font-size: 1em;
}

.popUp p {
    font-size: 0.8em;
}


/* Define the color for the link */
.popUp a {
    color: blue;
    text-decoration: none; /* Remove the underline */
}

/* Define the color for the link when it's visited */
.popUp a:visited {
    color: blue;
}

/* Define the color for the link when it's hovered */
.popUp a:hover {
    color: green;
}

/* Define the color for the link when it's active (pressed) */
a:active {
    color: blue; /* You can set it to the same color as the normal state */
}