@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,100;1,900&display=swap");
{
padding: 0;
margin: 0;
box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
}

body {
  background: rgb(238, 236, 236);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.schema-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.schema-item {
  background-color: #fff;
  border-radius: 5px;
  margin: 15px;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  width: 80vh;
}

.schema-link {
  font-size: 16px;
  color: black;
  text-decoration: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}

.schema-link .time {
  font-weight: bold;
}

.schema-item i {
  color: black;
  padding: 10px; 
  border-radius: 5px;
  font-size: 34px;
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.schema-item:nth-child(1) i {
  background: rgb(223, 0, 0);
}

.schema-item:nth-child(2) i {
  background: rgb(247, 185, 104);
}

.schema-item:nth-child(3) i {
  background: rgba(255, 255, 0, 0.808);
}

.schema-item:nth-child(4) i {
  background: rgb(223, 0, 0);
}

.topnav {
  overflow: hidden;
  background-color: transparent;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: left;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {
  background-color: black;
  color: white;
  border-radius: 5px;
}

.active {
  color: white;
  border-radius: 5px;
}
button {
  background-color: #3174cd;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 180px;
  border-radius: 10px;
  border: solid black 1px;
}

button:hover {
  background-color: white;
  color: black;
}

.loginpg {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  margin-bottom: 50px;
  margin-top: 50px;
}

input {
  width: 250px;
  height: 30px;
  padding: 20px;
  width: 400px;
  margin: 6px;
}

input::placeholder {
  color: black;
  text-align: center;
}
button.hidden {
  display: none;
}
